/*GENERAL USE*/

/*Hide scrollbar from Chrome*/
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.example {
  -ms-overflow-style: none;
}

.unstyleList {
    list-style: none;
}

.vertical-align {
  padding-left: auto;
  padding-right: auto;
}

.addFont {
  font-family: 'Caveat', cursive;
}

.horizontal-align {
  margin-top: auto;
  margin-bottom: auto;
}

a:hover {
  text-decoration: none!important;
}

a {
  color: black!important;
}

.text-center {
  text-align: center;
}

.flexbox {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.padding-left {
  padding-left: 5%;
}

.padding-right {
  padding-right: 5%;
}

.align-center {
  align-items: center;
}

.larger {
  font-size: 18pt;
  font-weight: bold;
}

hr {
  width: 90%;
}

/*HEADER*/


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

/*BACKGROUND IMAGE*/
.background-image {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

/*PROFILEPIC*/
#profilepic {
  width: 40%;
  border-radius: 1px;
}

/*ABOUT*/
div[id*='date'] {
  text-align: center;
}

.aboutsection button {
  padding: 0;
  border: none;
  background: none;
  outline: 0;
}

/*RESUME*/
.resumesection button {
  padding: 0;
  border: none;
  background: none;
  outline: 0;
}

iframe {
  height: calc(100vh);
  overflow: hidden;
}